absl-py==2.3.0
apparmor==3.0.4
appdirs==1.4.4
argon2-cffi==21.1.0
asn1crypto==1.4.0
astropy==6.1.7
astropy-iers-data==0.2025.6.9.14.9.37
astunparse==1.6.3
attrs==21.2.0
Automat==20.2.0
Babel==2.8.0
backcall==0.2.0
bcrypt==3.2.0
beautifulsoup4==4.10.0
beniget==0.4.1
bidict==0.23.1
biosppy==2.2.3
bleach==4.1.0
blinker==1.4
Bottleneck==1.3.2
Brotli==1.0.9
cached-property==1.5.2
certifi==2020.6.20
chardet==4.0.0
click==8.0.3
colorama==0.4.6
colorlog==6.9.0
command-not-found==0.3
configobj==5.0.6
constantly==15.1.0
cryptography==3.4.8
cycler==0.11.0
dbus-python==1.2.18
decorator==4.4.2
defusedxml==0.7.1
distlib==0.3.9
distro==1.7.0
distro-info==1.1+ubuntu0.2
docker==5.0.3
docker-compose==1.29.2
dockerpty==0.4.1
docopt==0.6.2
easydev==0.13.3
entrypoints==0.4
et-xmlfile==1.0.1
filelock==3.18.0
flatbuffers==25.2.10
fonttools==4.29.1
fs==2.4.12
future==1.0.0
gast==0.6.0
google-pasta==0.2.0
grpcio==1.73.0
gyp==0.1
h5py==3.14.0
hrv==0.2.10
hrv-analysis==1.0.5
html5lib==1.1
httplib2==0.20.2
hyperlink==21.0.0
idna==3.3
imbalanced-learn==0.13.0
importlib-metadata==4.6.4
incremental==21.3.0
iniconfig==1.1.1
ipykernel==6.7.0
ipython==7.31.1
ipython_genutils==0.2.0
ipywidgets==6.0.0
jdcal==1.0
jedi==0.18.0
jeepney==0.7.1
Jinja2==3.0.3
joblib==1.5.1
jsonschema==3.2.0
jupyter-client==7.1.2
jupyter-core==4.9.1
jupyterlab-pygments==0.1.2
keras==3.10.0
keyring==23.5.0
kiwisolver==1.3.2
language-selector==0.1
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
LibAppArmor==3.0.4
libclang==18.1.1
line_profiler==4.2.0
llvmlite==0.38.0
lxml==4.8.0
lz4==3.1.3+dfsg
Markdown==3.8.2
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.5.1
matplotlib-inline==0.1.3
mdurl==0.1.2
ml_dtypes==0.5.1
mock==5.2.0
more-itertools==8.10.0
mpmath==0.0.0
namex==0.1.0
nbclient==0.5.6
nbconvert==6.4.0
nbformat==5.1.3
nest-asyncio==1.5.4
netifaces==0.11.0
nolds==0.6.2
nose==1.3.7
notebook==6.4.8
numba==0.55.1
numexpr==2.8.1
numpy==1.26.4
oauthlib==3.2.0
odfpy==1.4.2
olefile==0.46
opencv-python==4.11.0.86
openpyxl==3.0.9
opt_einsum==3.4.0
optree==0.16.0
packaging==21.3
PAM==0.4.2
pandas==1.3.5
pandocfilters==1.5.0
parso==0.8.1
pbr==5.8.0
pexpect==4.9.0
pickleshare==0.7.5
Pillow==9.0.1
platformdirs==4.3.8
pluggy==0.13.0
ply==3.11
prometheus-client==0.9.0
prompt-toolkit==3.0.28
protobuf==5.29.5
psutil==5.9.0
ptyprocess==0.7.0
py==1.10.0
pyasn1==0.4.8
pyasn1-modules==0.2.1
pyerfa==2.0.1.5
Pygments==2.19.1
PyGObject==3.42.1
PyHamcrest==2.0.2
pyhrv==0.4.1
PyJWT==2.3.0
pyOpenSSL==21.0.0
pyparsing==2.4.7
pyrsistent==0.18.1
pyserial==3.5
pytest==6.2.5
python-apt==2.4.0+ubuntu4
python-dateutil==2.8.1
python-debian==0.1.43+ubuntu1.1
python-dotenv==0.19.2
python-magic==0.4.24
pythran==0.10.0
pytz==2022.1
PyWavelets==1.8.0
PyYAML==5.4.1
pyzmq==22.3.0
requests==2.25.1
requests-unixsocket==0.2.0
rich==14.0.0
scikeras==0.13.0
scikit-learn==1.6.1
scipy==1.15.3
screen-resolution-extra==0.0.0
seaborn==0.13.2
SecretStorage==3.3.1
Send2Trash==1.8.1b0
service-identity==18.1.0
shortuuid==1.0.13
simplejson==3.17.6
six==1.16.0
sklearn-compat==0.1.3
sklearn-pandas==2.0.3
sos==4.8.2
soupsieve==2.3.1
spectrum==0.9.0
ssh-import-id==5.11
stevedore==3.5.0
sympy==1.9
systemd-python==234
tables==3.7.0
tensorboard==2.19.0
tensorboard-data-server==0.7.2
tensorflow==2.19.0
tensorflow-io-gcs-filesystem==0.37.1
termcolor==3.1.0
terminado==0.13.1
testpath==0.5.0
texttable==1.6.4
threadpoolctl==3.1.0
toml==0.10.2
tornado==6.1
traitlets==5.1.1
Twisted==22.1.0
typing_extensions==4.14.0
ubuntu-drivers-common==0.0.0
ubuntu-pro-client==8001
ufoLib2==0.13.1
ufw==0.36.1
unattended-upgrades==0.1
unicodedata2==14.0.0
urllib3==1.26.5
virtualenv==20.31.2
virtualenv-clone==0.3.0
virtualenvwrapper==4.8.4
wadllib==1.3.6
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.2.3
Werkzeug==3.1.3
widgetsnbextension==2.0.0
wrapt==1.17.2
xkit==0.0.0
xlwt==1.3.0
zipp==1.0.0
zope.interface==5.4.0
